
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}

.skill-item {
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-item i {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.skill-item:hover {
  transform: scale(1.1);
}
